.container {

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr 0.7fr;
    grid-template-areas:    
       "header"
         "sidebar main"
            "footer footer"

            ;
}


.header {
    grid-column: 1/4;
    grid-row:1/2;
    background-color: maroon;
}

.subheader {
    grid-column:1/4;
    grid-row: 2/3;
    background-color: blue;
}

.topcolumn {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: seagreen;
}


.sidebar {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: purple;
}

.centermain {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: tomato;
}

.footer {
    grid-column: 3/4;
    grid-row:4/5;
    background-color: goldenrod;
}



